<form [formGroup]="postForm" (ngSubmit)="onFormSubmit(postForm.value)">
    <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" formControlName="postTitle"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!postForm.get('postTitle').valid && postForm.get('postTitle').touched">Please enter title</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" formControlName="postDecription"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!postForm.get('postDecription').valid && postForm.get('postDecription').touched">Please enter description</span>
          </mat-error>
        </mat-form-field> -->
    <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Price" formControlName="Price"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!postForm.get('Price').valid && postForm.get('Price').touched">Please enter Product Price</span>
          </mat-error>
        </mat-form-field> -->
    <h1>Add New Post</h1>
    <div>
        <label for="postTitle">
            Title
        </label>
        <input id="postTitle" type="text" formControlName="postTitle">
    </div>
    <div>
        <label for="postDecription">
            Description
        </label>
        <input id="postDecription" type="text" formControlName="postDecription">
    </div>
    <div>
        <label for="postContent">
            Content
        </label>
        <input id="postContent" type="text" formControlName="postContent">
    </div>
    <div>
        <label for="image">
            Image
        </label>
        <input id="image" type="file" name="image" (change)="handleFileInput($event.target.files)">
    </div>
    <div>
        <label for="postDecription">
            Category
        </label>
        <input id="categoryId" type="number" formControlName="categoryId">
    </div>
    <div>
        <label for="postStatus">
            Status
        </label>
        <input type="checkbox" formControlName="postStatus"> Public<br>
    </div>
    <div>
        <label for="tag">
            Tag
        </label>
        <input type="text" formControlName="tag">
    </div>
    <div class="button-row">
        <button type="submit" [disabled]="!postForm.valid" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</form>
